@import 'components/nav';
@import 'components/modal';
@import 'components/articles';
@import 'components/article';
@import 'components/top';
@import 'components/right';
@import 'components/buttons';
@import 'components/search';
@import 'components/form';
@import 'components/advertisements';
@import 'components/contact';
body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #000000;
}
header {
  width: 100vw;
  background-color: #ffffff;
  box-shadow: none;
  transition: box-shadow 0.5s;
  z-index: 2;
  padding:2px 0px;
  position: fixed;
  &.stick {
    box-shadow: 0 4px 10px -4px #333333;
    transition: box-shadow 0.5s;
    position: fixed;
  }
}
#content {
  width: 90%;
  display: table;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100vh - 100px);
  #main {
    display: table;
    min-height: calc(100vh - 200px);
    .go-back {
      font-size: 20px;
      display: table;
      padding-left: 20px;
      padding-bottom: 10px;
      letter-spacing: -4px;
      width: calc(100% - 30px);
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      border-bottom: 1px solid #377fc7;
    }
    .container {
      min-height: calc(100vh - 280px)
    }
    h3 {
      text-align: center;
    }
  }
}
#content > #main,#content>#right {
  float: left;
}
footer {
    width: 100vw;
    height: 100px;
    margin-bottom: 0px;
    background-color: #234567;
}
@media only screen and (min-width: 1200px) {
  header {
    position: absolute;
    margin-top: 0px;
    padding: 0px 0px;
  }
  #content {
    width: 1100px;
    #main {
      width: 800px;
    }
    #right {
      width: 280px;
    }
  }
}
