#advertisements {
  display: table;
  .ad-form {
    display: table;
    padding-bottom: 20px;
    margin-bottom: 20px;
    // border-bottom: 1px solid #377fc7;
  }
  #ad-fields {
    width: 250px;
    input[name="item"] {
      width: 233px;
    }
    select {
      margin-left: 5px;
      width: 125px;
      font-weight: normal;
    }
    input[name="price"] {
      width: 93px;
    }
  }
  .ad-form > div {
    float: left;
    &:nth-child(1) {
      width: 250px;
    }
    &:nth-child(2) {
      width: 80px;
    }
  }
  div.ad-form>div>* {
    padding: 4px 2px;
    font-size: 13px;
  }
  #ad-search {
    margin-top: 10px;
    width: 80px;
    height: 40px;
    font-size: 16px;
  }
  #ad-detail {
    .buttons {
      text-align: right;
      font-size: 12px;
    }
    h3 {
      text-align: center;
    }
    .main-content {
      margin-left: auto;
      margin-right: auto;
      padding: 0px 20px;
      p {
        text-align: justify;
        text-indent: 10px;
        font-size: 12px;
        margin: 5px;
        letter-spacing: 0.01px;
        line-height: 14px;
      }
    }
    .price-contact {
      font-weight: bold;
      padding: 5px 0px;
    }
  }
  #ad-table {
    display: table;
    padding: 0px;
    margin: 0px;
    width: 100%;
    .row {
      display: table-row;
      width: 100%;
      margin: 0px;
      padding: 0px;
      height: 30px;
      &:nth-child(even) {
        background-color: #c2dae8;
      }
    }
    .row > div {
      display: table-cell;
      padding: 0px;
      margin: 0px;
      font-size: 13px;
      &.cell-price {
        width: 100px;
        text-align: right;
        padding-top: 4px;
      }
    }
  }
  .underline-box {
    border-bottom: 1px solid #377fc7;
  }
}
@media only screen and (min-width: 510px) {
  #advertisements {
    width: 530px;
    #ad-fields {
      width: 430px;
      input[name="item"] {
        width: 170px;
      }
      select {
        margin-left: 0px;
        width: 120px;
      }
    }
    #ad-search {
      margin-top: 5px;
      padding: 4px;
      font-size: 14px;
      height: unset;
    }
    #ad-detail {
      .buttons {
        font-size: 16px;
      }
    }
    #ad-table {
      width: 510px;
    }
  }
}
@media only screen and (min-width: 800px) {
  #advertisements {
    width: 530px;
    #ad-fields {
      width: 450px;
      input[name="item"] {
        width: 190px;
      }
    }
    #ad-detail {
      .main-content p {
        font-size: 15px;
        letter-spacing: 0.5px;
        line-height: 16px;
      }
      .price-contact {
        padding: 10px 20px;
      }
    }
    #ad-table {
      width: 100%;
      .row > div {
        font-size: 15px;
      }
    }
  }
}
@media only screen and (min-width: 1050px) {
  #advertisements {
    width: 795px;
    #ad-fields {
      width: 715px;
      input[name="item"] {
        width: 450px;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  #advertisements {
    width: 800px;
    #ad-fields {

    }
    #ad-detail .main-content p {
      line-height: 20px;
      font-size: 16px;
  }
}
}
@media (hover: hover) and (pointer: fine) {
  #ad-detail {
    .buttons {
      transition-duration: .5s;
      opacity: 0;
    }
    &:hover .buttons {
      opacity: 1;
    }
  }
}
