.article {
  .buttons {
    text-align: right;
    font-size: 12px;
  }
  #title {
    text-align: center;
    font-size: 16px;
  }
  img.cover {
    width: 150px;
    float: right;
    margin-right: 5px;
    margin-left: 5px;
    border-left: 1px solid #377fc7;
    border-bottom: 1px solid #377fc7;
    padding: 4px;
  }
  .main-content {
    p {
      text-align: justify;
      text-indent: 10px;
      font-size: 12px;
      margin: 5px;
      letter-spacing: 0.01px;
      line-height: 14px;
    }
  }
  .photo-thumbnails {
    margin-left: auto;
    margin-right: auto;
    display: table;
    .flagstone {
      float: left;
      .photos-action {
        position: absolute;
        background-color: #ffffff;
        width: 30px;
        height: 30px;
        margin-left: 47px;
        margin-top: 5px;
        font-size: 30px;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0px 0px 2px 2px white;
      }
      &.new-photo {
        filter: grayscale(90%) blur(1px);
      }
      img, label {
        width: 72px;
        height: 72px;
        margin: 5px;
        border-radius: 5px;
        object-fit: cover;
        cursor: pointer;
      }
      label {
        border: 1px solid #959595;
        font-size: 13px;
        padding: 10px;
        font-weight: bold;
        // margin-left: 5px;
        display: inline-block;
        background-color: #dddddd;
      }
    }
  }
}
@media only screen and (min-width: 510px) {
  .article {
    .photo-thumbnails {
      .flagstone {
        img, label {
          width: 73px;
          height: 73px;
        }
      }
    }
  }
}
@media only screen and (min-width: 800px) {
  .article {
    .buttons {
      font-size: 16px;
    }
    #title {
      font-size: 22px;
      padding-bottom: 10px;
    }
    img.cover {
      width: 200px;
    }
    .main-content {
      p {
        font-size: 15px;
        letter-spacing: 0.5px;
        line-height: 16px;
      }
    }
    .photo-thumbnails {
      .flagstone {
        .photos-action {
          margin-left: 72px;
        }
        img, label {
          width: 95px;
          height: 95px;
        }
      }
    }
  }
}
@media only screen and (min-width: 1050px) {
  .article {
    .photo-thumbnails {
      .flagstone {
        .photos-action {
          margin-left: 78px;
        }
        img, label {
          width: 103px;
          height: 103px;
        }
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  .article {
    #title {
      padding: 0px 20px;
      display: table;
    }
    img.cover {
      width: 300px;
      margin-right: 40px;
      margin-left: 20px;
    }
    .main-content {
      margin-left: auto;
      margin-right: auto;
      padding: 0px 20px;
      p {
        line-height: 20px;
        font-size: 16px;
      }
    }
    .photo-thumbnails {
      margin-top: 20px;
      padding: 0px 20px;
      .flagstone {
        .photos-action {
          margin-left: 67px;
        }
        img, label {
          width: 92px;
          height: 92px;
        }
      }
    }
  }
}
@media (hover: hover) and (pointer: fine) {
  .article {
    .buttons {
      display: block;
      transition-duration: .5s;
      opacity: 0;
    }
    .photo-thumbnails {
      .flagstone {
        .photos-action {
          opacity: 0;
        }
        &:hover {
          .photos-action {
            opacity: 1;
          }
        }
      }
    }
    &:hover {
      .buttons {
        transition-duration: .5s;
        opacity: 1;
      }
    }
  }
}
