#article-bricks {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  justify-content:flex-start;
  .brick {
    display: table;
    padding: 0px 7px;
    width: 125px;
    height: 140px;
    margin: 10px;
    border-left: 1px solid #c5ddef;
    border-bottom: 1px solid #c5ddef;

    .buttons {
      position: absolute;
      margin-left: 50px;
      margin-top: 8px;
      font-size: 12px;
      // position: absolute;
    /* display: none; */
      // transition-duration: .5s;
      // opacity: 1;
    }
    .image {
      width: 100%;
      background-color: #aaaaaa;
      object-fit: cover;
    }
    h4 {
      text-indent: 10px;
      font-size: 11px;
    }
  }
  .add-brick {
    text-align: center;
    font-size: 100px;
    border-left: unset;
    border-bottom: unset;
    .image {
      background-color: unset;
      padding-top: 10px;
      a {
        color: #234567;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      }
    }
  }
}
#main #paginator {
  display: table;
  width: 100%;
  font-size: 30px;
  letter-spacing: -4px;
}
@media only screen and (min-width: 800px) {
  #article-bricks {
    .brick {
      width: 240px;
      height: 200px;
      .buttons {
        margin-left: 138px;
        font-size: 16px;
      }
      h4 {
        font-size: 16px;
      }
    }
    .add-brick {
      width: 240px;
      padding: 0px 7px;
      margin: 5px;
      height: 200px;
      font-size: 150px;
      .image {
        padding-top: 10px
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  #article-bricks {
    .brick {
      width: 240px;
      height: 200px;
      margin: 5px;
    }
  }
}
@media (hover: hover) and (pointer: fine) {
  #article-bricks {
    .brick {
      .buttons {
        transition-duration: .5s;
        opacity: 0;
      }
      &:hover {
        background-color: #f7fcff;
        .buttons {
          // display: block;
          transition-duration: .5s;
          opacity: 1;
        }
      }
    }
  }
}
