.btn {
  border-radius: 3px;
  padding: 10px;
  border: 1px solid #000000;
  cursor: pointer;
  border-radius: 3px;
  background-color: #13639f;
  color: #ffffff;
  font-weight: bold;
  outline: none;
  &-danger {
    background-color: #c11111;
  }
  &-mini {
    padding: 2px;
    font-weight: normal;
  }
}

#modal-main {
  button {
    width: calc(100vw - 30px);
    font-size: 16px;
    padding: 10px;
    &.half-width {
      width: calc(50vw - 28px);
    }
  }
}

@media only screen and (min-width: 800px) {
  #modal-main {
    button {
      width: 580px;
      &.half-width {
        width: 277px;
      }
    }
  }
}
