#main .col-sm-1 {
  display: table;
  width: 100%;
  float: left;
}
@media only screen and (min-width: 1050px) {
  #main .col-lg-2 {
    display: table;
    min-height: calc(100vh - 300px);
    width: 50%;
  }

}
