#main {
  form {
    width: calc(100% - 20px);
    margin-left: -4px;
    display: table;
    margin-bottom: 10px;
    input[type=text] {
      font-size: 16px;
      padding: 10px;
      margin: 5px;
      width: calc(100% - 5px);
    }
    textarea {
      width: calc(100% - 5px);
      font-size: 14px;
      padding: 10px;
      margin: 5px;
      height: calc(100vh - 320px);
      resize: none;
    }
    .image-upload {
      border: 1px solid #959595;
      border-radius: 3px;
      font-size: 13px;
      padding: 10px;
      font-weight: bold;
      margin-left: 5px;
      display: inline-block;
      cursor: pointer;
      background-color: #dddddd;
    }
  }
}
.inputborder {
  border: 1px solid #222222;
  box-shadow: inset 0 0 2px 0px #444444;
  border-radius: 3px;
  border: 1px solid #222222;
  box-shadow: inset 0 0 2px 0px #444444;
  font-size: 16px;
  padding: 8px;
  margin: 5px;
  &.warning {
    border: 1px solid #ff0000;
  }
}
input[type="file"] {
    display: none;
}
select {
  border-radius: 3px;
  padding: 9px;
  font-weight: bold;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-size: 6px auto;
  background-position: right 2px center;
  background-image: url("data:image/svg+xml;charset=utf-8,
  <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 40'>
  <polygon points='0,0 60,0 30,40' style='fill:black;'/></svg>")
}
#advertisement-form {
  select {
    margin-left: 5px;
  }
  input[name="price"] {
    width: 69px;
  }
  button {
    position: relative;
    left: 25px;
    float: right;
    display: inline-block;
  }
}
@media only screen and (min-width: 510px) {
  #advertisement-form {
    input[name="price"] {
      width: 204px;
    }
    button {
      // left: 30px;
      width: 100px;
    }
  }
}
@media only screen and (min-width: 800px) {
  #advertisement-form {
    button {
      // left: 63px;
      width: 100px;
    }
  }
}
@media only screen and (min-width: 1050px) {
  #main {
    form {
      width: calc(100% - 100px);
      margin-left: auto;
      margin-right: auto;
      textarea {
        font-size: 16px;
        padding: 10px;
        margin: 5px;
        letter-spacing: -0.5px;
        height: calc(100vh - 360px);
      }
    }
  }
  #advertisement-form {
    button {
      // left: 402px;
      width: 100px;
    }
  }
}
@media only screen and (min-width: 1200px) {
  #main {
    form {
      width: 745px;
    }
    #advertisement-form {
      button {
        // left: 310px;
      }
    }
  }
}
