div.modal-box {
  background-color: rgba(0, 0, 0, .8);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  .modal-content {
    position: fixed;
    background-color: #fff;
    width: 400px;
    height: 200px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}
div#modal-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity linear 0.15s;
  opacity: 0;
  .background {
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    z-index: 10;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    outline: 0;
  }
  #modal-main {
    position: fixed;
    z-index: 20;
    width:calc(100vw - 10px);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding-bottom: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 2px solid #222222;
    box-shadow: 0px 0px 20px 10px #222222;
    form > * {
      margin: 10px;
    }
    h3 {
      text-align: center;
      font-size: 20px;
      margin-top: 20px;
    }
    input {
      width: calc(100vw - 52px);
      font-size: 16px;
      padding: 10px;
    }
  }
  // #modal-main > * {
  //   margin: 10px;
  // }
  #close {
    top: 0px;
    right: 10px;
    font-size: 60px;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: fixed;
    color: #f1f1f1;
    transition: 0.3s;
    z-index: 100;
    &:hover, &:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }
  }
  &.fade-in {
    opacity: 1;
    transition: opacity linear 0.15s;
  }
  &.fade-out {
    opacity: 0;
    transition: opacity linear 0.15s;
  }
  #photogallery-main {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: table;
    position: fixed;
    padding: 5px;
    background-color: #000000;
    z-index: 50;
    img {
      transition: width .5s, height .5s;
    }
  }
  #photogallery-nextimg, #photogallery-previmg {
    position: fixed;
    color: white;
    top: 50%;
    transform: translate(0%, -50%);
    font-size: 50px;
    padding: 10px 5px;
    /* background-color: #000000; */
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    opacity: 0;
    transition: opacity .5s;
    -webkit-tap-highlight-color: transparent;
    z-index: 50;
  }
  #photogallery-previmg {
    left: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-right: 10px;
  }
  #photogallery-nextimg {
    right: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
  }
}
@media only screen and (min-width: 800px) {
  div#modal-box {
    #modal-main {
     width:600px;
     input {
       width: 558px;
     }
    }
    #close {
      top: -10px;
      right: 10px;
      font-size: 80px;

    }
  }
}
