nav {
  ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
    list-style-type: none;
    li {
      a {
        color: #000000;
        text-decoration: none;
      }
    }
    &#nav-main, &#nav-right {
      display: none;
    }
  }
  #logo {
    display: inline-block;
    width: 100vw;
    float: left;
    width: 200px;
    margin-left: 8px;
    padding-top: 3px;
    font-size: 40px;
    a {
      color: #004070;
      text-decoration: none;
    }
  }
  #search {
    input {
      transition: width .5s;
    }
  }
  #hamburger {
    display: inline-block;
    overflow: visible;
    position: absolute;
    right: 13px;
    top: 19px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
    .hamburger-box {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 16px;
      .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
        background-color: #000;
        position: absolute;
        width: 30px;
        height: 3px;
        transition-timing-function: ease;
        transition-duration: .15s;
        transition-property: transform;
        border-radius: 4px;
      }
      .hamburger-inner:after, .hamburger-inner:before {
        display: block;
        content: "";
      }
      .hamburger-inner {
        transition-timing-function: cubic-bezier(.55,.055,.675,.19);
        transition-duration: .22s;
        top: 50%;
        display: block;
        margin-top: 0px;
      }
      .hamburger-inner:before {
        top: -10px;
        transition: top .1s ease-in .25s,opacity .1s ease-in;
      }
      .hamburger-inner:after {
        bottom: -10px;
        transition: bottom .1s ease-in .25s,transform .22s cubic-bezier(.55,.055,.675,.19);
      }
    }
    &.openmenu .hamburger-inner {
      transition-delay: .12s;
      transition-timing-function: cubic-bezier(.215,.61,.355,1);
      transform: rotate(225deg);
    }
    &.openmenu .hamburger-inner:before {
      top: 0;
      transition: top .1s ease-out,opacity .1s ease-out .12s;
      opacity: 0;
    }
    &.openmenu .hamburger-inner:after {
      bottom: 0;
      transition: bottom .1s ease-out,transform .22s cubic-bezier(.215,.61,.355,1) .12s;
      transform: rotate(-90deg);
    }
  }
  #nav-mobile {
    display: none;
    a {
      width: calc(100vw - 10px);
      text-align: center;
      font-size: 20px;
      padding: 3px 0px;
      display: inline-block;
    }
    #mobile-search>a {
      width: unset;
    }
    #mobile-search input[type=text] {
      width: calc(100vw - 116px);
      margin: 10px;
    }
  }
  #nav-mobile li, nav #mobile-right li {
    margin-top: 7px;
    display: block;
    width: 100vw;
  }
  #mobile-menu-last {
    background-color: #000000;
    height: 2px;
    #close-mobile-menu {
      width: 100%;
      height: 100%;
      display: block;
      position: fixed;
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
}

@media only screen and (min-width: 1200px) {
  nav {
    padding-top: 20px;
    #logo {
      display: inline-block;
      float: left;
      width: 200px;
      margin-left: 40px;
      padding-top: 8px;
      font-size: 27px;
    }

    #hamburger {
      display: none;
    }
    ul {
      &#nav-main, &#nav-right {
        display: block;
      }
      &#nav-right {
        margin-right: 20px;
        float: right;
      }
      &#nav-mobile {
        display: none;
      }
      &#nav-right>li>a {
        padding: 14px 6px;
        display: inline-block;
      }
      li {
        float: left;
        a {
          display: block;
          text-align: center;
          padding: 14px 16px;
        }
      }
    }
  }
  .stick nav {
    padding-top: 0px;
  }
}
@media only screen and (min-width: 1360px) {
  nav>ul#nav-right {
    margin-right:calc(50vw - 650px);
  }
}
