#right {
  // display: table;
  display: flex;
  h4 {
    margin-left: 20px;
    margin-bottom: 5px;
    color: #234567;
    font-size: 18px;
  }
  a {
    div {
      border-bottom: 1px solid #377fc7;
      width: calc(50% - 4px);
      float: left;
      margin: 2px;
      display: block;
      font-size: 11px;
      height: 30px;
      line-height: 10px;
      display: table;
      &:hover {
        text-decoration: underline;
        background-color: #f7fcff;
      }
      .pubdate {
        color: #234567;
        font-weight: bold;
      }
    }
  }
}
@media only screen and (min-width: 800px) {
  #right {
    margin-top: 10px;
    width: 220px;
    float: left;
    margin-left: 10px;
    a {
      div {
        padding: 5px 0px;
        width: 100%;
        float: unset;
        letter-spacing: 0.03em;
        font-size: 12px;
        line-height: 14px;
        height: unset;
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  #right {
    width: 280px;
    margin-left: 10px;
    a {
      div {
        padding: 5px 0px;
        letter-spacing: 0.05em;
        font-size: 14px;
        line-height: 18px;
        width: 270px;
      }
    }
  }
}
