#top {
  display: table;
  width: 100%;
  height: 70px;
  margin-top: 50px;
}
@media only screen and (min-width: 510px) {
  #top {
    height: 55px;
  }
}
@media only screen and (min-width: 800px) {
  #top {
    height: 70px;
  }
}
@media only screen and (min-width: 1050px) {
  #top {
    height: 90px;
  }
}
